extends layout

block content
 script.
   var data = {};
   var setPrice = function (p,i){
    data.price = p;
    data.id = i;
   }
   var update = function (){
    console.log(data);
    var req = new XMLHttpRequest();
    req.open("POST","/update");
    req.setRequestHeader("Content-Type", "application/JSON;charset=UTF-8");
    req.onreadystatechange = function(){
     if(req.readyState == 4){
      console.log(req.response);
      //window.location.reload(true);
      //document.write(req.body.id);
     }
     else console.log(req.readyState);
    }
    req.send(JSON.stringify(data));
   }
 div.form-group
  form(name="list", method="post", action='/listing')
   input(type="text",placeholder="Brand Name", name="keyword", size="20")
   input(type="text",placeholder="Store Name", name="seller", size="20")
   input(type="submit", value="Search")

 table.table(align="center")
  tbody
   if(list) 
    each li in list
     tr
      td(width="10%")
       img(src=li.GalleryURL)
      td(width="40%")
       div.details
        p.price #{li.CurrentPrice.amount}
        if(li.ingram)
         p.cost #{li.ingram["Customer Price with Tax"]}
        p.sold #{li.QuantitySold}
        div.form-group
         //form(name="update", method="post", action='#', onsubmit="update()")
         input(type="text", name="price", size="6", onchange="setPrice(this.value, #{li.ItemID})")
         input(type="button", value="Update", onclick="update()")
        a(target="_blank", href=li.ViewItemURLForNaturalSearch) #{li.Title}
        if(revise && revise.Ack != 'Failure' && revise.ItemID == li.ItemID)
         p.query #{revise.ItemID} updated successfully.
      if(li.seller)
       td(width="10%")
        img(src=li.seller.GalleryURL)
       td(width="40%")
        div.details
         if(parseFloat(li.seller.CurrentPrice.amount) < parseFloat(li.CurrentPrice.amount))
          p.price(style="color:red") #{li.seller.CurrentPrice.amount}
         else
          p.price(style="color:green") #{li.seller.CurrentPrice.amount}
         p.sold #{li.seller.QuantitySold}
         a(target="_blank", href=li.seller.ViewItemURLForNaturalSearch) #{li.seller.Title}