extends layout

block content
 p(text-align="right") 
  a(href="/logout") Logout
 div.input-group
  //h2.form-signin-heading Search
  form.form-group(name="list", method="post", action='/listing')
   select(id="ebaystore", name="ebaystore")
    //-for(var i = 1;i<3;i++)
    option(value="eSuperPrices") eSuperPrices
    option(value="Mobile Tech Mart") Mobile Tech Mart
   input(type="text",placeholder="Brand Name", name="keyword", size="20")
   input(type="text",placeholder="Store Name", name="seller", size="20") 
   button.btn.btn-large.btn-primary(type="submit") Search
 table.table(align="center")
  tbody
   if(list) 
    each li in list
     tr
      td(width="10%")
       img(src=li.GalleryURL)
      td(width="40%")
       div.details
        label.price(name=li.ItemID) AU $#{li.CurrentPrice.amount}
        |  / 
        span.sold #{li.QuantitySold} sold
        if(li.ingram)
         p 
          | BuyInc: 
          span.cost #{li.ingram["Customer Price with Tax"]} 
          | Fee: 
          span.cost ~$#{parseInt(li.CurrentPrice.amount * .105 + .80)} 
          | Available: 
          span.cost(style="font-size:16px") #{li.ingram["Available Quantity"]}  
          | ETA: 
          span 
           - var eta = li.ingram["Backlog ETA"].replace(/(....)(..)(..)/, "$1/$2/$3")
           | #{eta}

        div.form-group(cellspacing="5px")
         //form(name="update", method="post", action='#', onsubmit="update()")
         input(type="text", name="price", size="6", onchange="setPrice(this.value, #{li.ItemID})")
         input(type="button", value="Update Price", onclick="update()")
        a(target="_blank", href=li.ViewItemURLForNaturalSearch) #{li.Title}
       label.query(id=li.ItemID)
      if(li.seller)
       td(width="10%")
        img(src=li.seller.GalleryURL)
       td(width="40%")
        div.details
         if(parseFloat(li.seller.CurrentPrice.amount) < parseFloat(li.CurrentPrice.amount))
          label.price(style="color:red") AU $#{li.seller.CurrentPrice.amount}
         else
          label.price(style="color:green") AU $#{li.seller.CurrentPrice.amount}
         |  / 
         span.sold #{li.seller.QuantitySold} sold
         br
         span.seller #{li.seller.Seller.UserID} 
         span.feedback (#{li.seller.Seller.FeedbackScore})
         p
          a(target="_blank", href=li.seller.ViewItemURLForNaturalSearch) #{li.seller.Title}